@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");


html {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: whitesmoke;
    font-family: "Courgette", cursive;
    user-select: none;
}

.multi-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 4px 4px;
}

h1 {
    text-align: center;
    font-size: 4rem;
}

.multi-button button {
    flex-grow: 1;
    cursor: pointer;
    padding: 1rem;
    border: 0.125rem solid black;
    color: black;
    background-color: white;
    font-size: 1.5rem;
    font-family: monospace;
    text-transform: lowercase;
    text-shadow: rgba(0, 0, 0, 0.1) 2px 2px;
    transition: flex-grow 250ms;
}

.multi-button button + button {
    margin-left: calc(0.125rem * -1);
}

.multi-button button:hover {
    color: white;
    outline: none;
    text-shadow: none;
    background-color: black;
}

.multi-button button:active {
    transform: translateY(0.125rem);
}

@media screen and (max-width: 600px) {
    body {
        margin: 10px;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.3rem;
    }

    #button, #button-start {
        font-size: 1.2rem;
    }
}